
.container {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.formContainer {
  margin: auto;
}

.formCard {
  background-color: rgb(255, 255, 255);
  margin-bottom: 1em;
  padding: 2em;
  box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.26);
}

.mainCard{
    padding-top:3em;
    min-height:250px;
}

.buttonForm {
  background-color: #31b0b4;
  border-color: #31b0b4;
  box-shadow: 6px 8px 13px -9px #696969;
}
.buttonForm:hover {
  background-color: #008e90 !important; 
  border-color: #008e90 !important;
}

.buttonForm:focus {
  background-color: #31b0b4;
  border-color: #31b0b4;
  box-shadow: none;
  box-shadow: 6px 7px 13px -9px #696969;
}

.buttonForm:active {
  background-color: #008e90;
  border-color: #008e90;
  box-shadow: none !important;
  border: 1px solid white;
}

.googleButton {
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0.3em 1em 0.3em 1em;
    color: black;
  }
  
  .googleIcon {
    margin-bottom: 3px;
    width: 15px;
  }

.link {
  color: #31b0b4;
  text-decoration: none;
}
.link:hover {
  color: #008e90;
}

.logo{
  width: 180px;
  margin-bottom: 2em;
}