.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(163,170,131);
    height: 80px;
    z-index:2000;
}

.searchIcon{
    margin-top:0.75em;
    margin-right: 1em;
}

.addIcon{
    font-size: 28px;
}
.userIcon{
    margin-right: 0.8em;
}