.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    height: 80px;
    z-index:2000;
    font-size: 20px;
    padding: 0 1em 0 1em;
}

.searchIcon{
    margin-top:0.75em;
    margin-right: 1em;
}

.addIcon{
    font-size: 28px;
}
.userIcon{
    margin-right: 0.8em;
}
