

.recipeContainer{
    margin-top:3em;    
    font-family: 'Poppins', sans-serif;
}

.main{
    padding-right: 7em;
    padding-left: 7em;
    margin-bottom: 6em;
}


.moreRecipes{
    height: 900px;
}

.imgRecipe{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.p{
    margin: 3em;
    height: 800px;
}
.editButton{
    margin-right: 1em;
}
.buttons{
    float:right;
    margin-top: -3em;
}
.saveIcon{
     font-size: 26px;
     margin-right: 1em;
     cursor: pointer;
}

.commentField{
    width: 100%;
    height: 100px;
    margin-top: 2em;
    font-size: 18px;
    padding: 0.5em;
}
.button{
    float: right;
}
.comment{
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.11);
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.startIcon{
    cursor:pointer;
    color: rgb(255,164,28);
}

.startIcon2{
    color: rgb(255,164,28);
}

.imgUser{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: blue;
    float: left;
    margin-right: 1em;
}
.userName{
    font-weight: bold;
    font-size: 16px;
}
.time {
    width: 100%;
    text-align: right;
    color:rgb(100, 100, 100)
    /*margin-left: 1em;*/
}

.btn-danger{
    margin-left: 1em !important;
    box-shadow: 6px 8px 13px -9px #696969;
}

.category{
    font-size: 16px !important;
    font-family: "Poppins", sans-serif;

}

.priceTime{
    width: 100%;
    text-align: right !important;
}




@media only screen and (max-width: 800px) {
    .main{
        padding: 0 1em 0 1em;
    }

  }


  @media only screen and (max-width: 1500px) {

    .buttons{
        float: none;
    }
  }
