.recipeContainer{
    margin-top:3em;    
}

.main{
    padding-right: 7em;
    padding-left: 7em;
}


.moreRecipes{
    height: 900px;
}

.imgRecipe{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    

}

.p{
    margin: 3em;
    background-color: lightblue;
    height: 800px;
}
.editButton{
    margin-right: 1em;
}
.buttons{
    float:right;
    margin-top: -3em;
}
.saveIcon{
     font-size: 26px;
     margin-right: 1em;
     cursor: pointer;
}
