.newRecipeContainer{
    font-family: "Poppins", sans-serif;
}

.tittleArea {
    margin-top: 2em !important;

}

.descriptionArea {
    margin-top: 2em !important;
    min-height: 100px !important;
}

.stepsArea {
    margin-top: 2em !important;
    min-height: 300px !important;
}
.buttonForm {
    background-color: #31b0b4;
    border-color: #31b0b4;
    box-shadow: 6px 8px 13px -9px #696969;
  }
  .buttonForm:hover {
    background-color: #008e90 !important; 
    border-color: #008e90 !important;
  }
  
  .buttonForm:focus {
    background-color: #31b0b4;
    border-color: #31b0b4;
    box-shadow: none;
    box-shadow: 6px 7px 13px -9px #696969;
  }
  
  .buttonForm:active {
    background-color: #008e90;
    border-color: #008e90;
    box-shadow: none !important;
    border: 1px solid white;
  }
.recipeImg {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.file-select {
    position: relative;
    display: inline-block;
}

.file-select::before {
    background-color: #31AFB4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar imagen';
    /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}
.cooker{
    position: absolute;
    right: 0px;
    bottom:-200px;
    z-index: 0;
    width: 30%;
    opacity: 0.1;
}

.buttonImg{
    text-align: center;
}